body {
  background-color: #799dbe;
}
@media screen and (min-height: 1080px) {
  .top-line-container {
    position: absolute;
    top: 25em;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bottom-line-container {
    position: absolute;
    top: 40em;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .box-container {
    position: absolute;
    top: 45em;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .name-container {
    position: absolute;
    top: 30em;
    left: 51%;
    transform: translate(-50%, -50%);
  }

  #welcome {
    color: rgba(255, 255, 255, 0);
    font-family: "Courier New", Courier, monospace;
    position: absolute;
    letter-spacing: 2px;
    top: 33em;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-height: 1079px) {
  .top-line-container {
    position: absolute;
    top: 15em;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bottom-line-container {
    position: absolute;
    top: 30em;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .box-container {
    position: absolute;
    top: 35em;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .name-container {
    position: absolute;
    top: 20em;
    left: 51%;
    transform: translate(-50%, -50%);
  }

  #welcome {
    color: rgba(255, 255, 255, 0);
    font-family: "Courier New", Courier, monospace;
    position: absolute;
    letter-spacing: 2px;
    top: 23em;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.box-container button {
  color: rgba(255, 255, 255, 0);
  font-size: large;
  letter-spacing: 2px;
  font-family: "Courier New", Courier, monospace;
  float: left;
  margin-left: 4em;
  background: none;
  border: none;
}

#about-btn {
  position: fixed;
  top: 1.6em;
  left: 4%;
  transform: translate(-50%, -50%);
}
#skills-btn {
  position: fixed;
  top: 1.6em;
  left: 29%;
  transform: translate(-50%, -50%);
}
#portfolio-btn {
  position: fixed;
  top: 1.6em;
  left: 54%;
  transform: translate(-50%, -50%);
}
#contact-btn {
  position: fixed;
  top: 1.6em;
  left: 79%;
  transform: translate(-50%, -50%);
}

.container {
  position: absolute;
  width: 840px;
  height: 600px;
  background-color: rgb(27, 31, 34);
  top: 590px;
  left: 50%;
  opacity: 0;
  display: none;
  transform: translate(-50%, -50%);
  border-radius: 0.2em;
}

/* larger screen */
@media screen and (min-width: 1680px) {
  .container {
    width: 1000px;
    height: 600px;
  }
}
/* smaller screen */
@media screen and (max-width: 1679px) {
  .container {
    width: 700px;
    height: 600px;
  }
}

.container button {
  color: #aaa;
  border: none;
  background: none;
  position: fixed;
  font-size: 2em;
  font-weight: bold;
  right: 0.5em;
  top: 1em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 1em;
}

.container button:focus,
.container button:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
  background-color: #636363;
  transition-duration: 300ms;
}

.title {
  font-size: 2.5em;
  font-weight: 100;
  letter-spacing: 2px;
  font-family: "Source Sans 3", sans-serif;
  color: white;
  text-decoration: underline;
  text-underline-offset: 0.3em;
  text-decoration-thickness: 1px;
}

.content {
  margin: 4em;
}

.content p {
  color: white;
  font-size: 1.4em;
  font-weight: 100;
  font-style: normal;
  font-family: "Source Sans 3", sans-serif;
}
